table
{
	border: 1px solid #262626;
	background: linear-gradient(to bottom right, #262626, #cccccc);
}

input[type="button"]
{
	width: 100px;
	height: 100px;
	font-size: 30pt;
	cursor: pointer;
	background: linear-gradient(to bottom right, #1ad1ff, #b3f0ff);
}

input[type="text"]
{
	width: 410px;
	height: 100px;
	font-size: 30pt;
	background: white;
}
